In [21]:
import pandas as pd

df = pd.read_csv('../data/ajinomoto.csv')
df = df[['Study Name', 'Line Name', 'Measurement Type', '27.0']]
df.head()

          Study Name Line Name          Measurement Type     27.0
0  Ajinomoto Cycle 1   b3-24-3  Tetradecanoate (n-C14:0)  0.06666
1  Ajinomoto Cycle 1   b2-32-1   Hexadecanoate (n-C16:0)  0.18256
2  Ajinomoto Cycle 1   b3-24-1  Tetradecanoate (n-C14:0)  0.06731
3  Ajinomoto Cycle 1   b2-36-3   Hexadecanoate (n-C16:0)  0.02710
4  Ajinomoto Cycle 1   b3-23-3  Tetradecanoate (n-C14:0)  0.07215